.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    margin: 0 10px;
    font-size: 20px;
}